/* -----------------------------   HOME   ----------------------------------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #8BC34A;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.small-circle-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header-content {
    flex-grow: 1;
    margin-left: 20px;
    text-align: start;
}

.header-content h1,
.header-content h2 {
    margin: 0;
}

.header-content h1 {
    font-size: 24px;
}

.header-content h2 {
    font-size: 18px;
    margin-top: 5px;
}

nav {
    background-color: #32CD32;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #8BC34A;
}

.main-section {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.text-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    max-width: calc(50% - 40px);
    height: auto;
    z-index: 1;
}

.intro-bg {
    width: 100%;
    height: auto;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-content {
    flex: 1;
    margin-left: 6%;
    margin-right: 2%;
}

.left-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.left-content h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.left-content p {
    margin-bottom: 10px;
}

.left-content ul {
    list-style-type: none;
    padding-left: 0;
}

.left-content ul li {
    margin-bottom: 10px;
}

.left-content ul li a {
    color: #007bff;
    text-decoration: none;
}

.left-content ul li a:hover {
    text-decoration: underline;
}

.right-content {
    flex: 1;
    overflow: hidden;
    height: 100%;
}

.sliding-box {
    width: 140%;
    height: 100%;
    display: flex;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.home-images {
    display: flex;
    animation: slide 10s linear infinite;
    width: 100%;
}

.home-images img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-right: 5%; 
}


footer {
    background-color: #8BC34A;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-links a {
    background-color: #8BC34A;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.footer-links,
.social-icons {
    margin-bottom: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p:last-of-type {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .main-section {
        flex-direction: column; 
    }

    .text-container {
        position: relative;
        margin-top: 20px; 
        max-width: 100%; 
        padding: 10px; 
    }

    .left-content {
        margin: 0; 
    }

    .right-content {
        margin: 0; 
    }

    .home-images img {
        margin-right: 0; 
        width: 100%; 
        height: auto; 
    }

}

.activity {
    display: flex;
    margin-bottom: 40px;
    transition: transform 0.3s ease-in-out;
}

.activity img {
    width: 40%;
    border-radius: 5px;
    margin-right: 20px;
}

.activity-info {
    flex: 1;
}

.activity h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.activity p {
    margin-bottom: 10px;
}

/* Apply hover effect */
.activity:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .activity {
        flex-direction: column;
        align-items: center;
    }

    .activity img {
        width: 80%;
        margin-bottom: 20px;
    }
}
